@import url('https://fonts.googleapis.com/css?family=Lora|Roboto');

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #9C8D7B;
}
a:visited {
  color: #2A3026;
}
#faclink:visited {
  color: #9C8D7B;
}
a:active {
    color: #9C8D7B;
}
/*font-family: 'Lora', serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*.banner {

 display: flex;
}*/
@media (max-width: 640px) {
  header {
    padding: 200px;
  }
}
@media (max-width: 1025px) {
  header {
    padding: 200px;
  }
}
.banner {
  background-color:#FFFFFF;
  color: #2A3026;
  height: 45px;
  background-image: url("images/bent-creek-logo.png");
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: 1% center;
  width: 10;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  /*border-style: solid;
  border-width: 12px;
  border-color: #FFFFFF;*/
  /*margin: 0;*/
  box-shadow: 0px -2px 5px 2px #2A3026;
}
.nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #2A3026;
  /*position: fixed;
  top: 0;*/
}
#current {
  color: #988771;
}
body {
  /*background-color: #F2F2E8;*/
}
.mainbg {
   background-color: #F2F2E8;
   width: auto;
   margin: auto;
  }
.main {
  width: 70%;
  margin: auto;
  margin-top: 70px;
}
.main2 {
  width: 70%;
  margin: auto;
}
/*.birdhouse {
  height: 120px;
  width: 160px;
}*/
/*.topheader {
  width:850px;
}*/
h1 {
  font-size: 70px;
  font-family: 'Lora', serif;
  line-height: 2;
}
h2 {
  font-size: 40px;
  font-family: 'Lora', serif;
  line-height: 2;
}
h3 {
  font-size: 30px;
  font-family: 'Lora', serif;
  line-height: 2;
}
p {
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 2;
}
blockquote {
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 10vh;
  padding-right: 5vh;
  font-style: italic;
  color: #121511;
  border-style: solid;
  border-color: #9C8D7B;
  border-width: 0 0 0 2px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.sect1 {
  /*display: flex;*/
}
.sect3 {
  /*display: flex;*/
}
#birdhouse {
  float: left;
}
.facimg {
  display: flex;
  float: right;
  width: 160px;
  flex-direction: column;
}
.midbanner {
  background-image: url("images/background-3.jpg");
  color: #F2F2E8;
  background-size: cover;
  background-attachment: fixed;
  height: 30vh;
  display: flex;
}
#r2g {
  width: 70%;
  margin: auto;
  justify-content: center;
}
.homepage {
  /*width: 90%;*/
  margin-top: 70px;
  /*width: 70%;
  margin: auto;*/
  text-align: center;
}
.boxes {
  /*ADD BACK*/
  /*display: flex;
  flex-wrap: wrap;
  align-items: flex-end;*/
  width: 90%;
  margin:auto;
  color: #F2F2E8;
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 2;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 67% 33%;
  /*height: 70vh;*/
}
.box1bg {
  background-image: url("images/product-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px;
  /*height: 100%;*/
  height: 40vh;
  grid-column: 1/4;
  grid-row: 1/2;
}
.box2bg {
  background-image: url("images/product-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 90%;*/
  margin: 8px;
  /*height: 100%;*/
  height: 40vh;
  grid-column: 4/5;
  grid-row: 1/2;
}
.box3bg {
  background-image: url("images/product-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px;
  /*height: 100%;*/
  height: 40vh;
  grid-column: 5/6;
  grid-row: 1/2;
}
.box4bg {
  background-image: url("images/product-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px;
  /*height: 100%;*/
  height: 30vh;
  grid-column: 1/2;
  grid-row: 2/3;
}
.box5bg {
  background-image: url("images/product-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px;
  /*height: 100%;*/
  height: 30vh;
  grid-column: 2/3;
  grid-row: 2/3;
}
.box6bg {
  background-image: url("images/product-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px;
  /*height: 100%;*/
  height: 30vh;
  grid-column: 3/5;
  grid-row: 2/3;
}
.box7bg {
  background-image: url("images/product-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8px;
  /*height: 100%;*/
  height: 30vh;
  grid-column: 5/6;
  grid-row: 2/3;
}
.box {
  display: flex;
  transition: .2s ease;
}
.box:hover {
  box-shadow: 0px 0px 0px 5px #2A3026;
}

.box:hover .textbg {
  color: #2A3026;
  background: #F2F2E8;
}
.box:hover .textbg2 {
  color: #2A3026;
  background: #F2F2E8;
}
.textbg {
  background: #2A3026;
  margin-bottom: auto;
  text-align: left;
  padding: 10px;
  margin-top: 30vh;
  width: auto;
}
.textbg2 {
  background: #2A3026;
  margin-bottom: auto;
  text-align: left;
  padding: 10px;
  margin-top: 20vh;
  width: auto;
}
.newsletter {
  background: no-repeat url("images/background-2.jpg");
  /*height: 542px;*/
  /*height: 540px;*/
  /*margin-top: 70px;*/
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.filler {
  width: 50%;
  margin: auto;
  height: 15px;
}*/
.newsbg {
  vertical-align: top;
  background-color: #FFFFFF;
  width: 60%;
  /*margin: auto;*/
  /*margin-top: 200px*/
  /*float: left;*/
  /*margin: auto;*/
  /*margin-top: 200px;*/
  padding: 12px;
}
table {
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 2;
  border-collapse: collapse;
  margin-bottom: 10px;
}
td {
  border: solid;
  border-width: 1px;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #F2EADC;
}
.footer {
  background-color: #2A3026;
  font-family: 'Lora', serif;
  color: #F2F2E8;
  padding: 40px;
  font-family: 'Lora', serif;
  font-size: 20px;
  /*line-height: 2;*/
}
fieldset {
  border: none;
  margin: 20px;
}
legend {
  text-align: center;
  margin-bottom: 20px;
}
input {
  line-height: 2;
  font-size: 20px;
  border-width: 0 0 3px 0;
  border-color: #968772;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  color: #757A90;
}
.buttonc {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
button {
  /*line-height: 3;*/
  font-size: 20px;
  padding: 15px 25px;
  background-color: #968772;
  color: white;
  border-style: none;
}
@media(max-width: 1050px) {
  .newsbg {
    width: 80%;
  }
  h1 {
    font-size: 30px
  }
  #r2g {
    font-size: 50px;
  }
  h2 {
    font-size: 20px
  }
.boxes {
    /*ADD BACK*/
    /*display: flex;
    flex-wrap: wrap;
    align-items: flex-end;*/
    width: 90%;
    margin:auto;
    color: #F2F2E8;
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 2;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    /*height: 70vh;*/
  }
  .box1bg {
    background-image: url("images/product-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    /*height: 100%;*/
    height: 20vh;
    grid-column: 1/6;
    grid-row: 1/3;
  }
  .box2bg {
    background-image: url("images/product-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 90%;*/
    margin: 8px;
    /*height: 100%;*/
    height: 20vh;
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .box3bg {
    background-image: url("images/product-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    /*height: 100%;*/
    height: 20vh;
    grid-column: 3/6;
    grid-row: 3/4;
  }
  .box4bg {
    background-image: url("images/product-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    /*height: 100%;*/
    height: 20vh;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .box5bg {
    background-image: url("images/product-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    /*height: 100%;*/
    height: 20vh;
    grid-column: 4/6;
    grid-row: 4/5;
  }
  .box6bg {
    background-image: url("images/product-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    /*height: 100%;*/
    height: 20vh;
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .box7bg {
    background-image: url("images/product-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8px;
    /*height: 100%;*/
    height: 20vh;
    grid-column: 3/6;
    grid-row: 5/6;
  }
  .box {
    display: flex;
  }
  .textbg {
    background: #2A3026;
    margin-bottom: auto;
    text-align: left;
    padding: 10px;
    margin-top: 10vh;
    width: auto;
  }
  .textbg2 {
    background: #2A3026;
    margin-bottom: auto;
    text-align: left;
    padding: 10px;
    margin-top: 10vh;
    width: auto;
  }
}
@media(max-width: 639px) {
  .newsbg {
    width: 100%;
  }
  h1 {
    font-size: 25px
  }
  #r2g {
    font-size: 30px;
  }
  h2 {
    font-size: 20px
  }
  legend h3 {
    font-size: 20px
  }
  legend p {
    font-size: 12px
  }
  .footer {
    font-size: 15px
  }
  .boxes {
      /*ADD BACK*/
      /*display: flex;
      flex-wrap: wrap;
      align-items: flex-end;*/
      width: 90%;
      margin:auto;
      color: #F2F2E8;
      font-family: 'Lora', serif;
      font-size: 20px;
      line-height: 2;
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 20% 20% 20% 15% 15% 15% 15%;
      /*height: 70vh;*/
    }
    .box1bg {
      background-image: url("images/product-1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 8px;
      /*height: 100%;*/
      height: 20vh;
      grid-column: 1/6;
      grid-row: 1/2;
    }
    .box2bg {
      background-image: url("images/product-2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      /*height: 90%;*/
      margin: 8px;
      /*height: 100%;*/
      height: 20vh;
      grid-column: 1/6;
      grid-row: 2/3;
    }
    .box3bg {
      background-image: url("images/product-3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 8px;
      /*height: 100%;*/
      height: 20vh;
      grid-column: 1/6;
      grid-row: 3/4;
    }
    .box4bg {
      background-image: url("images/product-4.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 8px;
      /*height: 100%;*/
      height: 15vh;
      grid-column: 1/6;
      grid-row: 4/5;
    }
    .box5bg {
      background-image: url("images/product-5.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 8px;
      /*height: 100%;*/
      height: 15vh;
      grid-column: 1/6;
      grid-row: 5/6;
    }
    .box6bg {
      background-image: url("images/product-6.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 8px;
      /*height: 100%;*/
      height: 15vh;
      grid-column: 1/6;
      grid-row: 6/7;
    }
    .box7bg {
      background-image: url("images/product-7.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 8px;
      /*height: 100%;*/
      height: 15vh;
      grid-column: 1/6;
      grid-row: 7/8;
    }
    .box {
      display: flex;
    }
    .textbg {
      background: #2A3026;
      margin-bottom: auto;
      text-align: left;
      padding: 10px;
      margin-top: 10vh;
      width: auto;
    }
    .textbg2 {
      background: #2A3026;
      margin-bottom: auto;
      text-align: left;
      padding: 10px;
      margin-top: 5vh;
      width: auto;
    }
    td {
      font-size: 15px;
    }
}
